.profile {
    background-color: white;
    border-radius: 25px;
    box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.2);
}

.description {
    text-align: center;
    color: rgb(136, 131, 131);
    
    margin-bottom: 100px;
}

.avatar {
    background-color: silver;

    margin-top: 75px;
    margin-bottom: 75px;

    border-radius: 50%;
}

.name {
    font-size: 75px;
    font-weight: bold;
    color: black;
    margin: 0;
    margin-bottom: 40px;
}

.tag {
    margin: 0;
    margin-bottom: 40px;
}
.location {
    margin: 0;
    margin-bottom: 40px;
}

.stats {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;

    display: flex;

    background-color: rgb(241, 229, 229);
       
}

.stats__item {
    border: 1px solid silver;
    border-radius: 15px;
    background-color: inherit;

    padding: 20px;
    margin: 0;

    width: 200px;
    height: 100px;
}

.stats__item:hover,
:focus {
    scale: 1.2;
    cursor: pointer;
}