.statistics {
    margin-left: 50px;
    background-color: white;
    border-radius: 20px;
}

.title {
    text-align: center;
}

.stat_list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    

}

.item {
    /* display: block; */
    text-align: center;
    padding: 20px;
    width: 100px;
    height: 100px;

    font-weight: bold;
    /* color: rgb(9, 78, 228); */
    /* outline: auto; */
}